

@media screen and (max-width: 600px) {
  .common-layout {
    padding: 0 15px;
  }
  .all-font-size{
    font-size:20px !important;
  }
  .all-pera{
    font-size:14px !important;
  }
  .nav-menu{
    padding:1.5rem 0;
  }
  .nav-items {
    display: none;
  }
  .hero-part p{
    padding:0 10px;
  }
  .menu-bar {
    display: block;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
  }
  .menu-bar i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .logo-part h2{
    font-size:1.46rem;
  }
  .hero-part h1 {
    font-size: 1.46rem;
  }
  .hero-part p {
    padding:0 20px;
    font-size:0.93;
  }
  .markup-sill {
    bottom: 16%;}
  .input-field{
    flex-direction: column;
  }
  .travelMoment{
    padding-top:0;
  }
  .pourpopular-travel .text-content,
  .pourpopular-travel .image-content{
    width:100%;
    align-items: center;
  }
  .pourpopular-travel {
    flex-direction: column;
    padding:50px 0;
  }
  .rows {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
  " hd " 
  " hdf "
  " ld "
  " ldf "
  " ldff "
  " fd "
  " fdf "
  } 
  .row-2 {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.6rem;
    grid-template-areas:
    "hotel"
    "locate"
    "price";
  }
  .dicount-1 .card {
    grid-template-columns: 1fr;
    padding:0.8rem;
  }
  .dicount-2 .card {
    grid-template-columns: 1fr;
    padding:0.8rem;
  }
 
  .simple-parfect-container {
    grid-template-columns: 1fr;
  }
  .newsletter-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
  " rt "
  " lt ";
  }
  .dicount-1 {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 1rem;
    margin: 1.5rem 0;
  }
  .shadule {
    padding: 1.33rem;
    margin-top:100px;
  }
  .image-travel:hover {
    width: 350px;
  }
  .image-content img{
    width:100%;
  }
  .images-part{
    z-index: -10;
  }
  .destinations {
    padding: 0 0 40px 0;
  }
  .simple-perfect {
    padding: 2.66rem 0;
  }
  .text-content,
.image-content{
  width:100%;
}
}
@media (min-width: 992px) {
    .common-layout{
          padding:0 15px;
      }
      .nav-menu{
        padding:2.5rem 0;
      }
      .hero-part h1{
        font-size:2.34re;
      }
      .input-field{
        width:90%;
      }
  }