/* google fonts import here */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: "Mulish", sans-serif;
}
/* common color */

:root {
  --primary-color: #ff5400;
  --secondary-color: #5a5a5d;
  --heading-color: #131318;
  --display-color: #fff;
  --nav-color: #424247;
}

/* common layout */

.common-layout {
  max-width: 1170px;
  margin: 0 auto;
}
li {
  /* list-style-type: none; */
}
/* start head nav css */
.header {
}
.nav-menu {
  padding: 3.33rem 0;
  display: flex;
  justify-content: space-between;
}
.logo-part {
  display: flex;
  align-items: center;
}
.logo-part h2 {
  color: var(--heading-color);
  font-family: Mulish;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.logo-part h2 span {
  color: var(--primary-color);
}
.menu-part,
.logo-part {
  width: 50%;
  align-items: center;
  border: 1px solid #000;
}
.nav-items {
  display: flex;
  min-height: 3.33rem;
  align-items: center;
  justify-content: end;
}
.nav-items li{
    list-style: none;
}
.nav-items li a {
  text-decoration: none;
  margin-left: 2.9rem;
  color: var(--nav-color);
  font-size: 1.2rem;
}
.nav-items li a:hover {
  color: var(--primary-color);
}
/* End head nav css */

/* hero part css */
.bg-color {
  padding: 6.66rem 0;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 1rem;
}
.hero-part {
  width: 100%;
  border-radius: 16px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-color: #61565677;
  text-align: center;
}
.hero-part h1 {
  color: var(--display-color);
  font-size: 4.26rem;
  font-weight: 800;
  margin-bottom:1.6rem;
}

.hero-part p {
  color: var(--display-color);
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.73rem;
}
.input-field {
  padding: 1.06rem;
}
input,
select {
  padding: 1.06rem;
  color: var(--secondary-color);
  font-size: 1.02rem;
  border:none;
  border-radius: 0.53rem;
  width:11.6rem;
}
input,
select:focus{
    outline: none;
}
input::placeholder {
  color: var(--secondary-color);
}
.input-field{
    width:70%;
    margin: 3.2rem auto 0 auto;
    display: flex;
    gap:1.6rem;
    justify-content: space-between;
    background-color: rgba(196, 194, 192, 0.39);
    border-radius: 0.8rem;
}
.input-field button {
  padding: 1.06rem 2.26rem;
  color: var(--display-color);
  font-size: 1.02rem;
  font-weight: 700;
  background:var(--primary-color);
  border:none;
  border-radius: 0.53rem;
}

/* end hero part css */

/* start popular section css */

.pourpopular-travel{
    display: flex;
    padding:6.66rem 0;
    gap:3.33rem;
}

/* End popular section css */