/* google fonts import here */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: "Mulish", sans-serif;
}

/* common color */

:root {
  --primary-color: #ff5400;
  --secondary-color: #5a5a5d;
  --heading-color: #131318;
  --display-color: #fff;
  --nav-color: #424247;
}

/* common layout */
.primary-btn {
  padding: 1.06rem 2.26rem;
  color: var(--display-color);
  font-size: 1.02rem;
  font-weight: 500;
  background: var(--primary-color);
  border: none;
  border-radius: 0.53rem;
  cursor: pointer;
}
.common-layout {
  max-width: 1170px;
  margin: 0 auto;
}
/* li {
  list-style-type: none;
} */
/* start head nav css */
.nav-menu {
  padding: 3.33rem 0;
  display: flex;
  justify-content: space-between;
}
.logo-part {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.logo-part h2 {
  color: var(--heading-color);
  font-family: Mulish;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.logo-part h2 span {
  color: var(--primary-color);
}
.menu-part,
.logo-part {
  width: 50%;
  align-items: center;
}
.nav-items {
  display: flex;
  min-height: 3.33rem;
  align-items: center;
  justify-content: end;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  margin-left: 2.9rem;
  color: var(--nav-color);
  font-size: 1.2rem;
}
.nav-items li a:hover {
  color: var(--primary-color);
}
/* End head nav css */

/* hero part css */
.bg-color {
  padding: 6.66rem 0;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 1rem;
}
.hero-part {
  width: 100%;
  border-radius: 16px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-color: #61565677;
  text-align: center;
}
.hero-part h1 {
  color: var(--display-color);
  font-size: 4.26rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.hero-part p {
  color: var(--display-color);
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.73rem;
}
.input-field {
  padding: 1.06rem;
}
input,
select {
  padding: 1.06rem;
  color: var(--secondary-color);
  font-size: 1.02rem;
  border: none;
  border-radius: 0.53rem;
  width: 11.6rem;
}
input,
select:focus {
  outline: none;
}
input::placeholder {
  color: var(--secondary-color);
}
.input-field {
  width: 70%;
  margin: 3.2rem auto 0 auto;
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  background-color: rgba(196, 194, 192, 0.39);
  border-radius: 0.8rem;
}

/* end hero part css */

/* start popular section css */

.pourpopular-travel {
  display: flex;
  padding: 6.66rem 0;
  gap: 3.33rem;
}
.text-content h2 {
  color: var(--heading-color);
  font-size: 2.66rem;
  font-weight: 800;
}
.text-content p {
  margin: 1.6rem 0;
  font-size: 1.1rem;
}
.text-content ul {
  margin-left: 1.2rem;
}
.text-content ul li {
  margin: 1.6rem 0;
  font-size: 1.1rem;
}
/* End popular section css */

/* start destinations css */
.destinations {
  padding: 0 0 100px 0;
}
.content-part {
  text-align: center;
  margin-bottom: 3.2rem;
}
.destinations h2 {
  color: var(--heading-color);
  font-size: 2.66rem;
  font-weight: 800;
}
.destinations p {
  margin-top: 1.6rem;
  color: var(--secondary-color);
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.73rem;
}
.gallery-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 10px 0;
}
.row-2 {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  grid-gap: 20px;
  padding: 10px 0;
}
.row-3 {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 20px;
  padding: 10px 0;
}

.rows {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.66rem;
  grid-template-areas:
    "hd hd hd hd hd hd hdf hdf hdf hdf hdf hdf"
    "ld ld ld ld ldf ldf ldf ldf ldf ldff ldff ldff  "
    "fd fd fd fd fd fdf fdf fdf fdf fdf fdf fdf";
}

.boxs-1 {
  grid-area: hd;
}

.boxs-2 {
  grid-area: hdf;
}

.boxs-3 {
  grid-area: ld;
}

.boxs-4 {
  grid-area: ldf;
}

.boxs-5 {
  grid-area: ldff;
}

.boxs-6 {
  grid-area: fd;
}

.boxs-7 {
  grid-area: fdf;
}

.overlay-flex {
  position: relative;
}
.overlay-flex h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--display-color);
  font-size: 2rem;
}
/* End destinations css */

/* start chose us css */
.why-chos-us h3 {
  color: var(--heading-color);
  text-align: center;
  font-size: 2.66rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.why-chos-us {
  text-align: left;
}
.why-chos-us p {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.06rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 3rem;
}
.row-2 {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  grid-template-areas:
    "hotel hotel locate locate "
    ".  price price  .";
}
.row-2 h4 {
  color: var(--heading-color);
  font-size: 1.6rem;
  font-weight: 800;
  margin: 2rem 0 1rem 0;
}
.row-2 p {
  text-align: left;
}
.box-serveces-1 {
  grid-area: hotel;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.box-serveces-2 {
  grid-area: locate;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.box-serveces-3 {
  grid-area: price;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* end chose us css */

/* start discount design css */
.dicount-1 {
  background-image: url("../Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 1rem;
  margin: 1.5rem 0;
}
.dicount-2 {
  background-image: url("../Images/Group\ 40.png");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 1rem;
}
.dicount-1 .card {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 3.33rem;
}
.dicount-2 .card {
  display: grid;
  grid-template-columns: 7fr 5fr;
  padding: 3.33rem;
}
.shadule {
  padding: 3.33rem;
  background-color: #e7ddddb7;
  border-radius: 1rem;
}
.shadule h2 {
  margin: 1.5rem 0 1rem 0;
}
.shadule h4 {
  margin: 1rem 0;
}
/* end discount design css */

/* start simple-perfect css */
.simple-perfect {
  padding: 6.66rem 0;
}
.simple-parfect-container {
  display: grid;
  grid-gap: 1.4rem;
  grid-template-columns: 1fr 1fr;
}
.video-content video {
  border-radius: 1rem;
}
/* end simple-perfect css*/



/* start news letter css */
.newsletter-section {
  padding-bottom:6.66rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  grid-template-areas: "rt rt rt rt rt lt lt lt lt lt lt lt";
}
.from-part {
  grid-area: rt;
  padding: 2.66rem;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
}
.control-from {
  display: flex;
  flex-direction: column;
}
.from-part h4{
  color: var(--heading-color);
font-size: 1.6rem;
font-weight: 800;
margin-bottom:1.06rem;
}
.from-part p{
  color: var(--secondary-color);
font-size: 1.06rem;
font-weight: 400;
line-height: 26px;
}
.from-part hr{
  margin:1.6rem 0;
}
.control-from input {
  width:100%;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin:1rem 0;
}
.images-part {
  grid-area: lt;
  position:relative;
}
.images-part img{
  width:100%;
  height:100%
}

.markup-sill{
  position:absolute;
  bottom:12%;
  right:1%;
  width:15.66rem;
  background-color: var(--primary-color);
  color:var(--display-color);
  padding:1.8rem;
  text-align: center;
  border-radius:0.8rem;
  transform: rotate(-30deg);
}

/* end news letter css*/

/* start footer css start */
footer {
  padding: 6.66rem 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer-content{
  text-align:center;
  padding: 0 100px;
}
.footer-logo-part{
  display: flex;
  justify-content: center;
  align-items: center;;
  gap: 0.7rem;
}
.footer-logo-part h2 {
  color: var(--heading-color);
  font-size: 2.4rem;
  font-weight: 800;
}
.footer-logo-part span {
  color: var(--primary-color);
}
.footer-content p{
  margin:15px 0 33px;
  color:var(--secondary-color);
  line-height: 26px;
}
.social-link a{
  color:var(--heading-color);
  font-size:1.5rem;
  margin:0 20px;
}
.footer-content hr{
  margin: 50px 0;
}
.our-some-travel{
  min-height:500px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.image-travel:hover{
  width:400px;
  transition: 0.5s;
  object-fit: cover;
}
.our-some-travel img{
  width:100%;
  height:100%;
}
.travelMoment{
  padding:100px 0;
  text-align:center;
}
.travelMoment h2{
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 800;
}
.travelMoment p{
  color: var(--secondary-color);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin:50px 0;
}
/* background: rgba(19, 19, 24, 0.05); */
/* end footer css end */
